.profile-block {
  text-align: center;
}

.profile-name {
  font-size: x-large;
  margin: 5px 0px;
}

.profile-picture {
  margin: auto;
  height: auto;
  width: auto;
  max-height: 6rem;
  max-width: 6rem;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: #0025389c;
}

.profile-skills {
  text-align: center;
  margin: auto auto 20px auto;
}

.skill-label {
  transition: all .2s ease-in-out;
}

.skill-label:hover {
  background-color: #63d8ff;
  color: #ffffff;
  border: 1.5px solid #a7a7a77d;
  transform: scale(1.1);
}