<div class="main-container" style="padding-top: 2.5rem">
  <div class="content-container">
    <div class="content-area" *ngIf="isDeveloper">
      <h2>Open Bids</h2>
      <div class="clr-row">
        <div class="clr-col-md">
          <bid-preview [id]=0></bid-preview>
        </div>
        <div class="clr-col-md">
          <bid-preview [id]=1></bid-preview>
        </div>
      </div>
      <h2>Current Contracts</h2>
      <div class="clr-row">
        <div class="clr-col-md">
          <contract-preview [id]=0></contract-preview>
        </div>
        <div class="clr-col-md">
          <contract-preview [id]=1></contract-preview>
        </div>
      </div>
      <h2>Recommended Contracts</h2>
      <recommended-contract></recommended-contract>
    </div>
    <div class="content-area" *ngIf="!isDeveloper">
      <h2>Contract Postings</h2>
      <div class="clr-row">
        <div class="clr-col-md">
          <bid-preview [id]=0></bid-preview>
        </div>
        <div class="clr-col-md">
          <bid-preview [id]=1></bid-preview>
        </div>
      </div>
      <h2>Current Contracts</h2>
      <div class="clr-row scroll-section">
        <i class="fas fa-caret-left fa-2x scroll-icon" (click)="decreaseIndex()"></i>
        <div class="clr-col-md">
          <contract-preview [id]="getContract(1)" (contractAmount)="setContractAmount($event)"></contract-preview>
        </div>
        <div class="clr-col-md">
          <contract-preview [id]="getContract(2)" (contractAmount)="setContractAmount($event)"></contract-preview>
        </div>
        <i class="fas fa-caret-right fa-2x scroll-icon" style="right: 0px;" (click)="increaseIndex()"></i>
      </div>
      <h2>Recommended Developers</h2>
      <recommended-developer></recommended-developer>
    </div>
  </div>
</div>