<div class="main-container" style="padding-top: 2.5rem">
  <div class="content-container">
    <div class="content-area">
      <h2>Open Bids</h2>
      <div class="clr-row">
        <div class="clr-col-md">
          <bid-preview [id]=1></bid-preview>
        </div>
        <div class="clr-col-md">
          <bid-preview [id]=2></bid-preview>
        </div>
      </div>
      <h2>Current Contracts</h2>
      <div class="clr-row">
        <div class="clr-col-md">
          <contract-preview [id]=1></contract-preview>
        </div>
        <div class="clr-col-md">
          <contract-preview [id]=2></contract-preview>
        </div>
      </div>
      <h2>Recommended Contracts</h2>
      <h2>More Content</h2>
      <h2>More Content</h2>
      <h2>More Content</h2>
    </div>
  </div>
</div>