<div class="main-container" style="padding-top: 2.5rem">
  <div class="content-container">
    <div class="content-area content-box" *ngIf="isDeveloper && loaded">
      <h2>Open Bids</h2>
      <div class="clr-row cardscroll">
        <div class="clr-col-md">
          <bid-preview [bid]="openBids[0]"></bid-preview>
        </div>
        <div class="clr-col-md">
          <bid-preview [bid]="openBids[1]"></bid-preview>
        </div>
      </div>
      <h2>Current Contracts</h2>
      <div class="clr-row cardscroll">
        <div class="clr-col-md">
          <contract-preview [contract]="getContract(1)"></contract-preview>
        </div>
        <div class="clr-col-md">
          <contract-preview [contract]="getContract(2)"></contract-preview>
        </div>
      </div>
      <h2>Recommended Contracts</h2>
      <recommended-contract></recommended-contract>
    </div>
    <div class="content-area" *ngIf="!isDeveloper && loaded">
      <h2>Contract Postings</h2>
      <div class="clr-row scroll-section">
        <i class="fas fa-caret-left fa-2x scroll-icon" style="left: 0px;" (click)="decreaseIndex(false)"></i>
        <div class="clr-col-md">
          <contract-posting [contract]="getContract(false, 1)"></contract-posting>
        </div>
        <div class="clr-col-md">
          <contract-posting [contract]="getContract(false, 2)"></contract-posting>
        </div>
        <i class="fas fa-caret-right fa-2x scroll-icon" style="right: 0px;" (click)="increaseIndex(false)"></i>
      </div>
      <h2>Current Contracts</h2>
      <div class="clr-row">
        <i class="fas fa-caret-left fa-2x scroll-icon" style="left: 0px;" (click)="decreaseIndex(true)"></i>
        <div class="clr-col-md">
          <contract-preview [contract]="getContract(true, 1)"></contract-preview>
        </div>
        <div class="clr-col-md">
          <contract-preview [contract]="getContract(true, 2)"></contract-preview>
        </div>
        <i class="fas fa-caret-right fa-2x scroll-icon" style="right: 0px;" (click)="increaseIndex(true)"></i>
      </div>
      <h2>Recommended Developers</h2>
      <recommended-developer></recommended-developer>
    </div>
    <div class="loading-box" *ngIf="!loaded">
      <img src="assets/loading.svg" class="loading-image" title="loading screen" alt="loading screen" />
    </div>
  </div>
</div>
