<div class="clr-row dash-card">
  <div class="clr-col-4 dash-card-title-section">
    <h4>{{ bid.title }}</h4>
    <p class="dash-card-sub-title">Your Bid: {{ formatMoney(bid.yourBid) }}<br />
      Low Bid: {{ formatMoney(bid.lowestBid) }}
    </p>
  </div>
  <div class="clr-col-6 dash-card-content openbids">
    <span class="dash-card-icon" (click)="cancel()">
      <i class="fas fa-ban fa-5x"></i>
      <br />
    </span>
    <span class="dash-card-icon" (click)="modify()">
      <i class="fas fa-cog fa-5x"></i>
    </span>
  </div>
  <div class="clr-col-2 dash-card-day">
    <p class="dash-card-day-number">{{ bid.daysLeft }}</p>
    <p>Days Left</p>
  </div>
</div>
