.card-block {
  border-top: 1.5px solid #499bb5;
  border-left: 1.5px solid #499bb5;
  border-right: 1.5px solid #499bb5;
}

.card-footer {
  border-bottom: 1.5px solid #499bb5;
  border-left: 1.5px solid #499bb5;
  border-right: 1.5px solid #499bb5;
}

.card-img {
  border-top-left-radius: 3.75px;
  border-top-right-radius: 3.75px;
  border-top: 1.5px solid #499bb5;
  border-left: 1.5px solid #499bb5;
  border-right: 1.5px solid #499bb5;
}
